{% include 'front_end/navbar.html' %}
<div class="jumbotron jumbotron-fluid" style="background-color:#4dc0ff;">
  <div class="container">
    <h1 class="display-4">Hello A.Project</h1>
    <p class="lead">I hope this "Task" as you please</p>
     <p class="lead">:)

     </p>
        <p class="lead">

      So Here is The Tasks That you Ask for it !  :)
      <br>
                                            <div class="alert alert-danger" role="alert">
                                          This is a danger alert—check it out!
                                              <br>
                                        <hr>
                                            <p class="lead">

                                    what i did?
                                                    <hr>
                                    i encrypt file before i upload it ,and the encrypted file store in model ,
                                    because you asking for list of all uploaded files  in base 64 format
                                        <br> <hr>
                                    when  you show the file  in "preview pdf " in navbar, he will decrypt and open it
                                    you can see the file is getting back to pdf if you open it with adobe reader



                                              <br>
                                        <hr>
                                            </p>
                                          </div>
     <ul class="list-group list-group-flush">
  <li class="list-group-item">
                          <div class="row">
  <div class="col-8">
      <span class="badge badge-warning">Task number 1 </span> &nbsp; &nbsp;if you want to upload pdf please press here!

  </div>
  <div class="col-4">     <a href="{% url 'upload_file_to_model'   %}" class="btn btn-outline-primary" role="button">upload pdf</a>

</div>
</div>

  </li>
        <li class="list-group-item">
                          <div class="row">
  <div class="col-8">
      <span class="badge badge-warning">Task number 2 </span> &nbsp; &nbsp;if you want to priview  pdf please press here!

  </div>
  <div class="col-4">     <a href="{% url 'preview_pdf'   %}" class="btn btn-outline-primary" role="button">preview pdf</a>

</div>
</div>

  </li>
              <li class="list-group-item">
                          <div class="row">
  <div class="col-8">
      <span class="badge badge-warning">Task number 3 </span> &nbsp; &nbsp;if you want to see json represent please press here!

  </div>
  <div class="col-4">     <a href="{% url 'show_json'   %}" class="btn btn-outline-primary" role="button">json represent</a>

</div>
</div>

  </li>
</ul>
  </p>


   </div>

</div>

