
<!DOCTYPE html>

<html lang="en">
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>hello</title>

</head>
<body>
{% include 'front_end/jumptron/index_jumptron.html' %}




</body>
</html>
{% endblock %}