{%  include 'front_end/css_files/css_import.html' %}
{%  include 'front_end/javascript_files/js_import.html' %}



<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #e3f2fd;">
  <a class="navbar-brand" href="{% url 'index'   %}">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'upload_file_to_model'   %}">upload pdf</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'preview_pdf'   %}"> preview pdf</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'show_json'   %}"> json represent</a>
      </li>
    </ul>
  </div>
</nav>