
{% include 'front_end/jumptron/show_pdf_jumptron.html' %}


<div class="card">
  <div class="card-body">
      <div class="row">
        <div class="col-sm-4">
            <div class="card">
                  <div class="card-header">
                    All Tables
                  </div>
                  <div class="card-body">
                    <blockquote class="blockquote mb-0">
                      <p>

                          {% if document1 %}
                                {% for doc in document1 %}

                                      <a href="{% url 'preview_pdf_by_id' doc.id %} ">
                                        <ul class="list-group">
                                          <li class="list-group-item ">{{doc}}              &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                       {{doc.uploaded_at}}</li>

                                        </ul>
                                      </a>



                                {% endfor %}
                            {% else %}
                                {% for doc in document_all %}

                                      <a href="{% url 'preview_pdf_by_id' doc.id %} ">
                                        <ul class="list-group">
                                          <li class="list-group-item ">{{doc}}             &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                       {{doc.uploaded_at}}</li>

                                        </ul>
                                      </a>
                              {% endfor %}
                            {% endif %}

                      </p>
                      <footer class="blockquote-footer">  <cite title="Source Title">Drop Down :)</cite></footer>
                    </blockquote>
                  </div>
            </div>


        </div>
        <div class="col-sm-8">
            <div class="card">
                  <div class="card-header" >
                        {% for doc in document_id %}
                      <div style="font-weight: bold;">Name Of Document:</div>
                      <br>
                      <div class="p-3 mb-2 bg-success text-white" style="text-align:center;">      {{doc.title}}
                       &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                       {{doc.uploaded_at}}
                      </div>

                    {% endfor %}
                  </div>
                  <div class="card-body">
                    <blockquote class="blockquote mb-0">
                      <p>
                        <h6 style="font-size: 25px;" class="card-title h6 pb-2">

                            <div class="card">
                              <div class="card-body">


                                    {% if document_id %}



                                            <div class="alert alert-danger" role="alert">
                                          This is a danger alert—check it out!
                                              <br>
                                        <hr>
                                            <p class="lead">

                        this file is encrypted in base64 after push button you will dycrypted
                                              <br>
                                        <hr>
                        the file decrypted but i couldn't find way to remove the suffex ".txt"
                        if i found enough time sure i will do it :)   ------
                            <div class="alert alert-warning" role="alert">
                            "show file"    button
                            </div>
                        so please after you press  open it in his directory and see by your self
                        and the exposing url also not enough time
                                 <br>
                                        <hr>
                                            </p>
                                          </div>
<!--                                  {{document_id.0.pdf_file.url}}-->



                sur {{gg}}

                                <br>
                                        <hr>                <br>

                                                  {% for doc in document_id %}
                                                     show pdf  File--->>
                                                 <a href=" {{ doc.pdf_file.url }} "  class="btn btn-primary">


                                                  show  File

                                                  </a>

                                                     {{ doc.pdf_file.url.stem }}

                                                        {{ doc.pdf_file.url }}

                                                {% endfor %}
                                   {% else %}
                                            Press on the document you want to show
                                   {% endif %}
                              </div>
                            </div>
                        </h6>
                      </p>
                      <footer class="blockquote-footer">Download document</cite></footer>
                    </blockquote>
                  </div>
            </div>

        </div>
      </div>
    </div>
</div>