
{% include 'front_end/jumptron/json_jumptron.html' %}


<div class="card">
  <div class="card-body">
      <div class="row">
        <div class="col-sm-4">
            <div class="card">
                  <div class="card-header">
                    All Tables
                  </div>
                  <div class="card-body">
                    <blockquote class="blockquote mb-0">
                      <p>

                          {% if document1 %}
                                {% for doc in document1 %}

                                      <a href="{% url 'show_json_by_id' doc.id %} ">
                                        <ul class="list-group">
                                          <li class="list-group-item ">{{doc}}</li>

                                        </ul>
                                      </a>



                                {% endfor %}
                            {% else %}
                                {% for doc in document_all %}

                                      <a href="{% url 'show_json_by_id' doc.id %} ">
                                        <ul class="list-group">
                                          <li class="list-group-item ">{{doc}}</li>

                                        </ul>
                                      </a>
                              {% endfor %}
                            {% endif %}

                      </p>
                      <footer class="blockquote-footer">  <cite title="Source Title">Drop Down :)</cite></footer>
                    </blockquote>
                  </div>
            </div>


        </div>
        <div class="col-sm-8">
            <div class="card">
                  <div class="card-header" >
                        {% for doc in document_id %}
                      <div style="font-weight: bold;">Name Of Table:</div>
                      <br>
                      <div class="p-3 mb-2 bg-success text-white" style="text-align:center;">     {{doc.Title}}</div>

                    {% endfor %}
                  </div>
                  <div class="card-body">
                    <blockquote class="blockquote mb-0">
                      <p>
                        <h6 style="font-size: 25px;" class="card-title h6 pb-2">


                            <div class="card">
                              <div class="card-body">
                         {% if document_id %}
                                                                              <div class="alert alert-danger" role="alert">
                                          This is a danger alert—check it out!
                                              <br>
                                        <hr>
                                            <p class="lead">
                       you can go to this site "json validator"to see json is ok and valid
                                              <br>
                                        <hr>
                         <button class="btn btn-primary" onClick="window.open('https://jsonlint.com/');">
                              <span class="icon">open json validator</span>
                            </button>
                                         <br>
                                        <hr>
                                            </p>
                                          </div>
                <hr>
                <br>

 {{serializer}}

    {% endif %}
                              </div>
                            </div>
                        </h6>
                      </p>
                      <footer class="blockquote-footer">json represent</cite></footer>
                    </blockquote>
                  </div>
            </div>

        </div>
      </div>
    </div>
</div>