
 {% include 'front_end/jumptron/pdf_jumptron.html' %}


<style>

    .center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  border: 3px solid green;
}

</style>
{% block content %}


 <div class="card">
  <div class="card-header">
      <div class="alert alert-warning" role="alert">
Please upload pdf file only , other thing will be not accept
</div>

  </div>
  <div class="card-body">
    <h5 class="card-title" style="text-align: center;">Upload  File pdf only</h5>
    <p class="card-mx-auto" style="text-align: center;">

      <hr>
      <br>
      <div class="center">
<!--  <form method="post" enctype="multipart/form-data">-->
<!--    {% csrf_token %}-->
<!--    {{ form }}-->

<!--    <button type="submit" class="btn btn-secondary">Upload</button>-->
<!--  </form>-->


  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="myfile">
    <button type="submit">Upload</button>
  </form>


    </p>
      <hr>
  <a class="btn btn-primary" href="{% url 'index' %}" style="text-align: center;">Return To Home Page</a>
          </div>
  </div>
     <br>
     <br>
</div>





                     {% if error_message %}

<div class="card">
  <div class="card-header" style="text-align: center; font-size: 40px;">
      <div class="alert alert-danger" role="alert">
          <strong>  Error Massage</strong>
          <hr>
          <h5>don't do that again    :( </h5>

</div>

  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>
               <p ><strong>


                <div class="card">
  <h5 class="card-header" style="text-align: center;">{{ error_message }}</h5>

</div>


    </strong></p>


          </p>
      <footer class="blockquote-footer"> <cite title="Source Title">

          <p  style="text-align: center;"><strong> YOU broke my heart my friend!!!! </strong></p>
          <br>
          <hr>
          <p  style="text-align: center;"><strong> .....ohhhhh  try again    :(</strong></p>

      </cite></footer>
    </blockquote>
  </div>
</div>


                    {% endif %}


{% endblock %}